{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>F1TimeRadar Timings</title>
    <link rel="stylesheet" type="text/css" href="{% static './styles.css' %}" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <div class="info">
      <div class="left-info">
        <div class="race-info">
          <div class="race-flag">
            <img
              src="https://media.formula1.com/content/dam/fom-website/2018-redesign-assets/Flags%2016x9/italy-flag.png"
              alt="race-flag"
            />
          </div>
          <div class="race-track">
            <div class="track-name" style="color: rgb(255, 149, 149)">
              Emilia-Romagna
            </div>
            <div class="event-type">Race</div>
          </div>
        </div>
        <div class="lap-data">20/56</div>
        <div class="remaining-time lap-data" style="display: none">
          00:00:00
        </div>
        <div
          class="track-status"
          style="background-color: rgba(255, 234, 0, 0.8)"
        >
          SECTOR 8
        </div>
      </div>
      <div class="play-session left-info">
        <div class="play-button">Pl</div>
        <div class="play-scrollbar-container">
          <input
            type="range"
            min="1"
            max="100"
            value="20"
            class="play-scrollbar"
            id="myRange"
          />
        </div>
        <div class="live-button">LIVE</div>
      </div>
      <div class="weather-info left-info">
        <div class="weather-info-item" id="wind">301, 1</div>
        <div class="weather-info-item" id="rain">0</div>
        <div class="weather-info-item" id="track-temp">40.3</div>
        <div class="weather-info-item" id="air-temp">26.8</div>
        <div class="weather-info-item" id="humidity">53.0</div>
        <div class="weather-info-item" id="pressure">941.7</div>
      </div>
    </div>
  </body>
</html>
